* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

#banner {
    background: url("../assets/images/1.webp") no-repeat center center;
    background-size: cover;
}

header {
    background-color: #f2f2f2;
    width: 100%;
    float: left;
    min-height: 90px;
}

#zoli {
    background-color: #f2f2f2;
}

.inp input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 10px;
    max-width: 60%;
    outline: none;
    float: left;
}

.inp input:hover {
    border-bottom: 2px solid black;
}

.inp input:hover+.b {
    border-bottom: 2px solid black;
}

.inp button {
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    height: 100%;
}

#banner h1 {
    font-size: 50px;
}

main {
    margin-top: 90px;
}

.box {
    position: relative;
    max-height: 300px;
    max-width: 350px;
    float: left;
}

.box img {
    float: left;
    width: 100%;
}

.box button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    color: rgb(93, 127, 172);
    padding: 15px 30px;
    background-color: #ffff;
}

.devider {
    height: 50px;
    width: 3px;
    background-color: black;
    float: left;
}

.prof {
    max-height: 80px;
    max-width: 130px;
    word-break: break-all;
    word-wrap: break-word;
}

.prof i {
    float: left;
}



.text p {
    margin: 0 !important;
    font-size: 15px;
}

.a {
    background-color: #2573da;
    color: white;
}

.nopadding:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/assets/images/5.jpg);
    color: #ffff;
}

.nopaddingg:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(/assets/images/6.jpg);
    color: #ffff;
}

.nopadding {
    background-image: url(/assets/images/5.jpg);
    background-size: cover;
    max-width: 200px;
    transition: 0.5s ease-in-out;
    min-height: 300px;
    color: transparent;

}

.nopaddingg {
    background-image: url(/assets/images/6.jpg);
    transition: 0.5s ease-in-out;
    background-size: cover;
    max-width: 200px;
    min-height: 300px;
    color: transparent;

}

.carus img {
    width: 100%;
}

footer {
    background-color: #696969;
}

@media only screen and (max-width: 600px) {
    .nopadding {
        background-image: url(/assets/images/5.jpg);
        background-size: cover;
        max-width: 200px;
        min-height: 200px;
    }

    .nopaddingg {
        background-image: url(/assets/images/6.jpg);
        background-size: cover;
        max-width: 200px;
        min-height: 200px;
    }

}

.footer-left img {
    max-width: 200px;
    max-height: 250px;
    float: left;
}

.footer-left a {
    color: white;
}

.footer-right input {
    background-color: transparent;
    color: #ffff !important;
    padding: 7px 40px;
    outline: none;
    border: 1px solid white;
    width: 100%;
}

.footer-right button {
    background-color: #2573da;
    color: #ffff;
    outline: none;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.footer-right input::placeholder {
    color: white;
}

.footer-right {
    color: #ffff;
}

#up {
    cursor: pointer;
}